
.poster {
    width: 300px;
    max-height: 500px;
}

.info {
    padding-left: 30px;
    width: 90%;
    margin-top: -50px;
}

.name {
    font-family: sans-serif;
    font-size: 50px;
    margin-right: 20px; /* Добавляем правый отступ между именем фильма и "В главных ролях" */
}


.alter__name {
    color: #666666;
    font-size: 25px;
    position: relative;
    bottom: 10px;
}


.about {
    font-size: 40px;
}

.will__watch,.back {
    background-color: #f2f2f2;
    width: 200px;
    border: none;
    height: 50px;
    border-radius: 10px;
    cursor: pointer;
}

.will__watch:hover,.back:hover {
    background-color: #e5e5e5;
}

.statika, .slogan {
    color: #666666;
}

.year, .movie__length, .countries,.fee {
    color: black;
}


.statika {
    display: inline-block;
    width: 150px;

}

.year,
.movie__length,
.countries,
.slogan,.fee {
    display: inline-block;
}

.description__all{
    width: 85%;

}
.description__text{
    font-family: system-ui;
}
.description__statika,.raiting{
    font-family: Georgia, serif;
    font-size: 30px;
}

.bad__rating{
    color: red;
    font-size: 30px;
}

.good_rating {
    color: green;
    font-size: 30px;
}


.details {
    display: flex;
    justify-content: space-between;
    flex-grow: 1;
}


.slogan{
    max-width: 300px;
}



.all__actors_stat{
    font-family: system-ui;
    font-size: 18px;
}
.actorInfo{
    width: 20%;
}

.similar__statika{
    font-family: Georgia, serif;
    font-size: 30px;
}


.container{
    margin-left: 20px;
}


.point{
    flex-direction: column;
}
.point__wrapper{
    margin-top: 20px;
    margin-bottom:20px
}

.back{
    margin-left: 20px;
}

a {
    color: inherit;
    text-decoration: none;
    outline: none;
}

a:hover,
a:focus {
}
.rating__again{
    position: relative;
    top:7px;
    left: 60px;
}



/* Добавим стили для медиа-запросов */
@media only screen and (max-width: 768px) {


    .details {
        flex-direction: column; /* Изменяем направление блоков на вертикальное */
    }

    .poster {
        width: 100%; /* Ширина постера занимает всю доступную ширину */
        max-height: auto; /* Высота постера автоматически подстраивается под ширину */
        margin-bottom: 20px; /* Добавляем отступ снизу */
    }

    .info {
        padding-left: 0; /* Убираем отступ слева */
        width: 100%; /* Ширина блока с информацией занимает всю доступную ширину */
    }

    .actorInfo {
        width: 100%; /* Ширина блока с актерами занимает всю доступную ширину */
        margin-top: 20px; /* Добавляем отступ сверху */
    }

    .all__actors_stat {
        font-size: 16px; /* Уменьшаем размер шрифта */
    }

    .paginationContainer {
        margin-top: 20px; /* Добавляем отступ сверху */
    }

    .full__info {
        margin-top: 20px; /* Добавляем отступ сверху */
    }

    .point__wrapper {
        margin-top: 20px; /* Добавляем отступ сверху */
        margin-bottom: 20px; /* Добавляем отступ снизу */
        display: flex;
        justify-content: space-between;
    }

    .raiting {
        margin-bottom: 10px; /* Увеличиваем отступ снизу */
    }

    .rating__again {
        top: 0; /* Убираем смещение сверху */
        left: 0; /* Убираем смещение слева */
    }

    .slider-wrapper__posters,
    .slider-wrapper {
        margin-top: 20px; /* Добавляем отступ сверху */
    }

    .no__similar__movies {
        margin-top: 20px; /* Добавляем отступ сверху */
    }

    .similar__statika,
    .description__statika {
        font-size: 24px; /* Уменьшаем размер шрифта */
    }

    .description__all {
        width: 100%; /* Ширина блока с описанием занимает всю доступную ширину */
    }

    .description__text {
        font-size: 16px; /* Уменьшаем размер шрифта */
    }

    .back {
        margin-left: 0; /* Убираем отступ слева */
        margin-top: 20px;
        /* Добавляем отступ сверху */
    }


}

