.searchContainer {
    margin-bottom: 20px; 
}

.searchInput {
    width: 100%; 
    padding: 10px; 
    font-size:16px; 
    border: 1px solid #ccc; 
    border-radius: 5px; 
    outline: none; 
}

.searchInput::placeholder {
    color: #999; 
}

@media (max-width: 600px) {
    .searchInput {
        font-size: 14px; 
    }
}
